node_modules

.varlet
.idea
.vscode
.history
*.log
.DS_Store
*.vsix
package-lock.json

# sotry-example


packages/story-tools/lib/
packages/story-tools/es/

packages/story-beauty/lib/
packages/story-cut/es/